.Points__item {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 100%;
}
.Points_image {
  background-image: url("../images/Player-icons.png");
  height: 20px;
  width: 20px;
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
@media screen and (min-width: 67.5625em) {
  .Tools__get-tools {
    display: block;
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 67.5625em) {
  .Tools__get-tools {
    margin: auto;
  }
}
