.Sitemap-small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a2e3b;
  background-color: #F2F4F5;
  border-top: 1px solid #D0D8DB;
  border-bottom: 1px solid #D0D8DB;
  padding-left: 1.25rem;
  width: 100%;
  height: 8vh;
}
.Sitemap-small__header {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1;
  margin: 0;
}
.Sitemap-small__arrow {
  height: 12px;
  width: 14px;
  float: right;
  position: relative;
  top: -6vh;
  right: 20px;
}
@media screen {
  .Sitemap-small {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  .Sitemap-small {
    display: none;
  }
}
@media screen and (max-width: 67.5em) {
  .Sitemap-small {
    display: none;
  }
}
@media screen and (max-width: 37.5em) {
  .Sitemap-small {
    display: block;
  }
}
