.Stats-dashboard {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: .625rem;
  min-height: 147px;
  width: 340px;
  background-color: #FFF;
  box-shadow: inset 0 0 0 1px #E3E8E9;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Stats-dashboard__header {
  color: #1a2e3b;
  margin-bottom: .2em;
  font-weight: 700;
  line-height: 1.189;
  font-size: .875rem;
}
.Stats-dashboard__info {
  font-size: .875rem;
  color: #4E5A5E;
  line-height: 1.3;
}
.Stats-dashboard__link {
  font-weight: 400;
  color: #009FDE;
  font-size: .875rem;
  line-height: 1.3;
}
@media screen and (max-width: 48em) {
  .Stats-dashboard {
    display: block;
    width: 90%;
  }
}
@media screen and (max-width: 67.5em) {
  .Stats-dashboard {
    display: block;
    width: 90%;
    vertical-align: middle;
  }
}
@media screen and (max-width: 37.5em) {
  .Stats-dashboard {
    display: block;
    width: 90%;
    vertical-align: middle;
  }
}
